.header-margin {
    margin: 52px 30px 0 31px;
}

.image-margin {
    margin-top: 25px;
}

.focus-visible:focus-visible {
    border: none;
    background-color: red;
}

@media screen and (min-width: 636px) { 
    .header-margin {
        margin: 15px 0 0 0;
    }
}