@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #595D7A;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #595D7A;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) url("/circle.svg") no-repeat;
  background-position-x: center;
  object-fit: cover;
  font-family: Arial, Helvetica, sans-serif;
  width: 414px;
  margin: 0 auto;
}

@media screen and (min-width: 636px) {
  body {
    width: 636px;
  }
}

@media screen and (max-width: 40em) {
  body {
    background: var(--background) url("/circle.svg") no-repeat;
  }
}

.min-screen {
  min-height: 85vh;
}

.min-screen-2 {
  min-height: 85vh;
}